:root {
    --main-background: #099;
    --padding: 10px;
    --bg: #999;
  }

  .header {
    display: flex;
    width: 100%;
    height: 50px;

    font: 18px/1.5, sans-serif;

    background-color: var(--main-background);
  }

  main {
    margin-top: 50px;
    padding: 20px 30px;

    background-color: var(--main-background);
  }

  footer {
    margin-top: 150px;
    padding: 50px;

    background-color: var(--main-background);
    border: 1px solid #fff;
  }





   p {
     --padding: 20px 30px;
   }

   .main-section {
     padding: var(--padding);

     background: #ffca28;
   }

   .paragraph {
     padding: var(--padding);

     background: #ff9800;
   }

   .section {
    background: var(--bg, #099);
  }